@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --primary-green: #2f663c;
  --primary-red: #c62a20;
  --primary-orange: #ff860d;
  --primary-yellow: #ffbc0d;
}

.dark {
  --background: #292929;
  --primary-green: #2f663c;
  --primary-red: #c62a20;
  --primary-orange: #ff860d;
  --primary-yellow: #ffbc0d;
}

html,
body {
  height: 100%;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
  scroll-behavior: smooth;
  line-height: 1.5;

  ::selection {
    background-color: #889a93;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #d7dddb;
  }
}
