@tailwind base;
@tailwind components;
@tailwind utilities;
y
:root {
  --background: #ffffff;
  --primary-green: #2f663c;
  --primary-red: #c62a20;
  --primary-orange: #ff860d;
  --primary-yellow: #ffbc0d;
}

.dark {
  --background: #292929;
  --primary-green: #2f663c;
  --primary-red: #c62a20;
  --primary-orange: #ff860d;
  --primary-yellow: #ffbc0d;
}

html,
body {
  height: 100%;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
  scroll-behavior: smooth;
  line-height: 1.5;
}
